body{
    background-color: #555;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 50px auto auto;
}
nav {
    font-family: 'Courier New', Courier, monospace;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
ul.navbar{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 5px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.navbar li a {
    padding: 10px;
    color: #356996;
    display: block;
    text-decoration: none;
    background: #3f3f3f
}
ul.navbar li a.active {
    color:#ab2c2c
}
ul.navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
li.one{
    grid-area: 1,1;
}
li.two{
    grid-area: 2,1;
}
li.three{
    grid-area: 3,1;
}
p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    color: #f1f1f1
}
