body{
    background-color: #3f3f3f;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% auto auto;
}
ul.navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar li a {
    color: #0000ff;
    display: block;
    text-decoration: none;
}
ul.navbar li a.active {
    color:#ff0000
}
ul.navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}