
ul.navbar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    grid-template-columns: auto auto auto ; 
    list-style-type: none;
    background-color: black;
}
li.one {
    background-color: black;
    grid-column: 1 / 1;
}
ul.navbar li.two {
    grid-column: 2 / 1;
}
ul.navbar li.three {
    grid-column: 3 / 1;
}
ul.navbar li a {
    float: left;
    padding: 10px;
    color: #0000ff;
    display: block;
    text-decoration: none;
}
ul.navbar li a.active {
    color:#ff0000
}
ul.navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    color: #f1f1f1
}